# Dependencies
node_modules/
npm-debug.log*

# Build output
dist/
build/

# Database SQLite
*.db
*.db-shm
*.db-wal

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
Thumbs.db
.DS_Store

# TypeORM cache & build info
*.tsbuildinfo